body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: #419CCA;
    margin: 0;
    padding: 0;
    justify-items: center;
    align-items: center;
    position: relative;
}

.header #menu-h {
    text-align: center;
}

.header #menu-h img {
    align-items: center;
    width: 50%;
}

.header #menu-h a {
    /* color del texto */
    color: #fff;
    color: #000;
    display: block;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 2px 2px white;
    margin-top: 3%;
    padding: 5px;
    font-size: 1em;
}

.header #menu-h a:hover {
    color: white;
    background-color: #088DD1;
    margin-left: 0;
}

.header #menu-h ul {
    list-style-type: none;
}

.header #menu-h ul ul {
    display: none;
    position: absolute;
    transition: 1s;
}

.header #menu-h ul li a {
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
}

.header #menu-h ul li a:hover {
    background-color: #088DD1;
}

.header #menu-h ul li ul {
    margin: 0 0;
}

.header #menu-h ul li ul li:hover {
    display: block;
    position: absolute;
}

.header #menu-h ul ul li a {
    /* margin: 15px 0; */
    left: 0;
    color: #1573a1;
    background-color: rgba(235, 240, 217, 0.5);
    margin: 15px 0;
    /* padding-left: 0; */
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 2px solid black;
    justify-items: center;
    margin: 10px 0;
}

.header a {
    border: 1px solid brown;
    padding: 5px 0;
    margin: 10px 0;
}


/* contenido */

.contenido {
    border: 2px solid #20b2aa;
    background-color: rgb(218, 209, 209);
    display: grid;
    grid-template-columns: .3fr 1fr .3fr;
}

.contenido .acceso-directo {
    border: 2px solid #20b2aa;
    width: 100%;
    height: 100vh;
}

.contenido .publicaciones {
    border: 2px solid #20b2aa;
    width: 100%;
    height: 100vh;
}

.contenido .noticias-tecnologicas {
    border: 2px solid #20b2aa;
    width: 100%;
    height: 100vh;
}


/* footer */

footer {
    background-color: #419CCA;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    position: relative;
    z-index: 5;
    text-align: center;
    padding: 10px 15px;
    gap: 20px;
}

footer .info-desa {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    text-align: center;
}

footer .info-desa h3 {
    font-size: 1em;
    font-style: italic;
    color: white;
    margin-left: 80px;
    /* box-shadow: 2px 2px 2px gray; */
}

footer .info-desa h3 img {
    width: 40px;
}

footer .social-desa {
    grid-column-start: 2;
    grid-column-end: 3;
}

footer .social-desa h1 {
    color: #f3ff3b;
    font-size: 1.5em;
    font-style: italic;
    letter-spacing: 5px;
    font-weight: bolder;
}

footer .social-desa a img {
    width: 50px;
    margin: 0 20px;
}

footer .social-desa h3 {
    font-size: 1em;
    font-style: italic;
    color: white;
}

footer .social-desa h3 img {
    width: 30px;
    padding-right: 10px;
}