/* tipo de fuente */

@import url(‘https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700|Roboto+Slab:400,700|Roboto:400,500,700,900&display=swap’);

/* icono de menu  */

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?3ot2jt');
    src: url('../fonts/icomoon.eot?3ot2jt#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?3ot2jt') format('truetype'), url('../fonts/icomoon.woff?3ot2jt') format('woff'), url('../fonts/icomoon.svg?3ot2jt#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
    content: "\e9bd";
}


/* inicio de diseño */

body {
    font-family: 'Roboto mono', monospace;
    margin: 0;
    padding: 0;
}

main {
    width: 100vw;
    background: url('../assets/img/street.jpg') no-repeat center center/cover;
    background-size: 100% 100%;
    position: fixed;
}


/* estilos menu hamburguesa */

.burger-button {
    color: #fff;
    border-radius: 50%;
    background-color: rgba(253, 171, 1, .7);
    font-size: 50px;
    margin: 10px;
    width: 100px;
    height: 100px;
    line-height: 80px;
    text-align: center;
    top: 15px;
    right: 15px;
}

.icon-menu {
    /* position: fixed; */
}

.burger-button {
    right: 100px;
    left: 0;
    display: block;
    cursor: pointer;
}

.welcome {
    height: 100vh;
    display: flex;
    align-items: center;
    position: absolute;
}

.welcome h1 {
    color: #F9A801;
    font-size: 5rem;
    font-style: italic;
    animation: title forwards ease-in;
    animation-duration: 2.5s;
    animation-delay: .7s;
}

@keyframes title {
    0% {
        transform: translateX(1px);
    }
    50% {
        transform: translateX(180px);
    }
    100% {
        transform: translateX(1500px);
    }
}

.redes {
    /* padding-bottom: 100px; */
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100vh;
}

.redes a img {
    width: 100px;
    padding: 0 50px 30px;
}

.redes a .tui {
    border-radius: 50%;
}