@import url(‘https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700|Roboto+Slab:400,700|Roboto:400,500,700,900&display=swap’);

/* inicio de diseño */

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto mono', monospace;
}

main {
    position: relative;
}

.fondo {
    width: 100%;
    height: 100vh;
    background: url('../assets/img/street.jpg') no-repeat center center/cover;
    position: absolute;
}

.welcome {
    height: 100vh;
    display: flex;
    align-items: center;
    position: absolute;
}

.welcome h1 {
    color: #F9A801;
    font-size: 6rem;
    font-style: italic;
    animation: title forwards ease-out;
    animation-duration: 2s;
    animation-delay: .7s;
}

@keyframes title {
    0% {
        transform: translateX(1px);
    }
    50% {
        transform: translateX(250px);
    }
    100% {
        transform: translateX(1000px);
    }
}