@import url(‘https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700|Roboto+Slab:400,700|Roboto:400,500,700,900&display=swap’);

/* inicio de diseño */

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Roboto mono', monospace;
    /* background-image: url('../assets/img/guitar1.jpg'); */
    /* background-color: rgb(185, 178, 178); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: fixed;
}

.home-main {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
}

.inicio {
    width: 100%;
    height: 100vh;
    background-color: #19bcec;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .2fr .7fr .2fr;
}

.home-main .inicio .img {
    align-self: center;
    justify-self: center;
    grid-row: 3;
    grid-column: 1;
}

.home-main .img img {
    width: 150px;
    height: 50px;
    display: grid;
}

.home-main .home-main-text {
    align-self: center;
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 4;
}

.home-main .home-main-text p {
    align-items: center;
    font-family: 'Roboto mono', monospace;
    font-size: 3em;
    font-weight: 700px;
    /* espacio entre letras */
    letter-spacing: 10px;
    color: #fff;
    background-color: rgba(187, 170, 187, .1);
    border-radius: 20px;
    text-shadow: 3px 3px 2px #baba;
    text-align: center;
    padding: 10px;
    margin: 30px 0;
    align-self: center;
    justify-self: center;
    text-align: center;
    transition: .5s;
}

.home-main .inicio .home-main-text p:hover {
    background-color: rgba(242, 231, 201 .5);
    color: #6D76C9;
    /* color: #f9a801; */
    /* background: #f9a801; */
}

.home-main .inicio .enlaces {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    align-self: center;
    justify-self: center;
    grid-row: 2;
    text-align: center;
}

.home-main .enlaces .home-main-button {
    margin: 20px 0;
}

.home-main .enlaces .home-main-button a {
    border: 2px solid #fff;
    border-radius: 10px;
    font-size: 1.5em;
    padding: .5em .5em;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(102, 95, 95);
    color: #fff;
    cursor: pointer;
    outline: none;
    transition: .5s;
    will-change: transform;
}

.home-main .enlaces .home-main-button a:hover {
    color: #fff;
    background: #f9a801;
}

.my_photo {
    width: 80%;
    display: flex;
    padding: 50px;
    justify-content: center;
    /* animaciones */
    animation-name: yo;
    animation-duration: 2s;
}

@keyframes yo {
    from {
        transform: scale(.5);
    }
    to {
        transform: scale(1);
    }
}

.my_photo img {
    width: 400px;
    height: 500px;
    border-radius: 15px;
}

.desarrollador h1 {
    color: #fff;
}

.desarrollador {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    align-self: center;
    grid-column: 3;
    grid-row: 3;
}

.desarrollador a {
    align-self: center;
}

.desarrollador a img {
    padding-right: 20px;
    width: 50px;
}