@import url(‘https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700|Roboto+Slab:400,700|Roboto:400,500,700,900&display=swap’);

/* inicio de diseño */

html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto mono', monospace;
    background-image: url('../assets/img/guitar1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.home-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .5fr 1fr .4fr;
    gap: 10px;
    height: 100%;
    min-height: 100vh;
}

.home-main .img {
    align-self: center;
    justify-self: center;
    grid-row: 3;
    grid-column: 1;
}

.home-main .img img {
    width: 150px;
    height: 50px;
    display: grid;
}

.home-main .home-main-text {
    align-self: center;
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 4;
}

.home-main .home-main-text p {
    align-items: center;
    font-family: 'Roboto mono', monospace;
    font-size: 3.5em;
    font-weight: 700px;
    /* espacio entre letras */
    letter-spacing: 10px;
    color: #fff;
    background-color: rgba(187, 170, 187, .1);
    border-radius: 20px;
    text-shadow: 3px 3px 2px #baba;
    text-align: center;
    padding: 10px;
    margin: 30px 0;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.home-main .home-main-text p:hover {
    background-color: rgba(65, 156, 201, .6);
}

.home-main .enlaces {
    align-self: center;
    justify-self: center;
    grid-column: 2;
    grid-row: 2;
    text-align: center;
}

.home-main .enlaces .home-main-button {
    height: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px;
    margin-bottom: 50px;
}

.home-main .enlaces .home-main-button a {
    border: 2px solid #fff;
    border-radius: 10px;
    font-size: 1.5em;
    padding: .5em .5em;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(102, 95, 95);
    color: #fff;
    cursor: pointer;
    outline: none;
    transition: .5s;
    will-change: transform;
}

.home-main .enlaces .home-main-button a:hover {
    color: #fff;
    background: #419CCA;
}

.desarrollador h1 {
    color: #fff;
}

.desarrollador {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    align-self: center;
    grid-column: 3;
    grid-row: 3;
}

.desarrollador a {
    align-self: center;
}

.desarrollador img {
    width: 50px;
}


/* vista para tablets y smartphones */

@media screen and (max-width: 425px) {
    .home-main .img img {
        width: 150px;
        height: 150px;
    }
    .home-main .home-main-text p {
        width: 40%;
    }
}

@media screen and (max-width: 768px) {
    .home-main img {
        grid-column: 2;
        grid-row: 3;
    }
}

@media screen and (max-width: 1024px) {
    .home-main .home-main-text p {
        font-size: 2em;
    }
    .home-main .img img {
        grid-row: 3;
        grid-column: 2;
    }
    .home-main .home-main-text {
        font-size: 1.5em;
        margin-top: 50px;
    }
    .home-main .enlaces .home-main-button {
        width: 250px;
        height: 100px;
        margin: 20px 0;
    }
    .home-main .enlaces .home-main-button a {
        font-size: 1.8em;
    }
}