@import url(‘https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700|Roboto+Slab:400,700|Roboto:400,500,700,900&display=swap’);

/* inicio de diseño */

html,
body {
    margin: 0;
    height: 100%;
    font-family: 'Roboto mono', monospace;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    /* position: static; */
    background-image: url('../assets/img/guitar1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* quitar scroll vertical */
    overflow: hidden;
}

.home-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .5fr 1fr .4fr;
    gap: 10px;
    height: 100%;
}

.home-main img {
    margin: 0 10px;
    padding: 20px 0;
    width: 200px;
    height: 50px;
    grid-column: 1;
    grid-row: 3;
    justify-self: center;
    align-self: center;
}

.home-main p {
    grid-area: 2;
    grid-column: 2;
    grid-row: 1;
    /* display: block; */
    align-items: center;
    font-family: 'Roboto mono', monospace;
    font-size: 3em;
    font-weight: 700px;
    /* espacio entre letras */
    letter-spacing: 10px;
    color: white;
    background-color: rgba(187, 170, 187, .3);
    border-radius: 20px;
    text-shadow: 3px 5px 2px gray;
    text-align: center;
    padding: 10px;
    margin: 30px 0;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.home-main .enlaces {
    align-self: center;
    justify-self: center;
    grid-column: 2;
    grid-row: 2;
    text-align: center;
}

.home-main .enlaces:nth-of-type(5) {
    width: 100%;
}

.home-main .enlaces button {
    display: block;
    width: 230px;
    height: 100px;
    /* background-color: #e61821; */
    background-color: rgba(189, 183, 184, .5);
    border: 2px solid white;
    /* box-shadow: 5px 5px 5px gray; */
    border-radius: 20px;
    margin: 20px 0;
}

.home-main .enlaces button .arrow {
    height: 80px;
    width: 90px;
}

.home-main .enlaces button .arrow:hover {
    /* mostrar los enlaces y que esta flecha siempre se manetnga punsando hasta que el cursos se situe encima */
}

.home-main .enlaces button a {
    font-size: 1.6em;
    text-decoration: none;
    color: white;
}


/* vista para tablets y smartphones */

@media screen and (max-width: 425px) {
    .home-main .home-main-text {
        font-size: 4rem;
    }
    .home-main img {
        grid-column: 2;
        grid-row: 3;
    }
}

@media screen and (max-width: 768px) {
    .home-main img {
        grid-column: 2;
        grid-row: 3;
    }
}

@media screen and (max-width: 1024px) {
    .home-main img {
        height: 10rem;
        width: 400px;
        grid-row: 3;
        grid-column: 2;
    }
    .home-main .home-main-text {
        font-size: 4rem;
        margin-top: 50px;
    }
    .home-main .enlaces .home-main-button {
        width: 350px;
        height: 100px;
        margin: 70px 0;
    }
    .home-main .enlaces .home-main-button a {
        font-size: 3rem;
    }
}