/* desde 900px para abajo */

@media (max-width: 900px) {
    .blogs-main-new {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    }
    .blogs-news-container {
        grid-template-columns: 2fr;
        text-align: center;
    }
    .blogs-news-img-container {
        grid-row: 2;
    }
    .blogs-news-info-container {
        grid-column: 1;
        grid-row: 3;
    }
    .blogs-posts-container .post-container {
        max-width: 45%;
        text-align: center;
    }
    /* pagina perfil */
    .projects-main-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr;
    }
    .profile-main-container .profile-container {
        display: block;
        text-align: center;
    }
    .profile-container {}
}

@media (max-width: 620px) {
    .blogs-posts-container .post-container {
        max-width: 100%;
        text-align: center;
    }
    .blogs-posts-container img {
        width: 10px;
    }
    .blogs-news-container {
        text-align: center;
    }
}


/* icons of contact */

@media (max-width: 993px) {
    .contact-main-container {
        display: flex;
    }
}

@media (max-width: 640px) {
    .contact-main-container {
        display: inline-block;
        text-align: center;
        margin-right: 5px;
    }
    .contact-main-container div {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        max-width: 45%;
    }
    .profile-main-projects .projects-main-container {
        display: inline-block;
        grid-template-columns: 1fr;
        text-align: center;
    }
}

@media (max-width: 500px) {
    .contact-main-container {
        margin-top: 10px;
    }
    .contact-main-container div {
        grid-template-columns: 1fr;
    }
    .contact-main-container .contact-left,
    .contact-right {
        margin-top: 20px;
        text-align: center;
    }
    .contact-main-container img {
        /* para separar en otra fila el texto de los iconos */
        display: flex;
    }
}