@mixin centrado {
    margin: 40px 0;
    border: 1px solid green;
    width: 240px;
    border-radius: 10px;
    padding: 5px 0;
    box-shadow: 4px 4px 10px gray;
    font-weight: bold;
    color: white;
    background-color: #6AB22F;
    height: 30px;
    text-align: center;
}