@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

.contenedor-header {
    display: flex;
    background-color: #419CCA;
    width: 100%;
    height: 70px;
    justify-items: center;
    align-items: center;
}

.contenedor-header .header1 {
    align-items: center;
    margin-left: 80px;
    font-weight: bolder;
}

.contenedor-header .header1 a {
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    font-style: bold;
    padding: 6px;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 2px 2px white;
}


/* 
.contenedor-header .header1 a {
    padding: 6px;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 2px 2px white;
} */

.contenedor-header .header1 a:hover {
    background-color: #088DD1;
}

.contenido {
    /* margin: 0 80px; */
}

.contenido .presentacion {
    height: max-content;
    background-color: #C4C4C6;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* margin: 20px 0; */
    padding: 10px;
    /* border: 5px solid #bababa;
    border-radius: 10px;
    box-shadow: 10px 10px 10px gray; */
    text-align: center;
}

.contenido .presentacion .img {
    border-radius: 10px;
    align-self: center;
}

.contenido .presentacion .img .img-photo {
    width: 60%;
    height: 400px;
    border: 5px solid #fff;
    border-radius: 10px;
    box-shadow: 10px 10px 10px gray;
}

.contenido .descripcion {
    margin-right: 80px;
    align-self: center;
    text-align: right;
}

.contenido .descripcion h2 {
    color: crimson;
    font-weight: bolder;
}

.contenido .presentacion .descripcion h2,
p {
    font-size: 1.3em;
    justify-self: center;
    align-items: center;
    line-height: 50px;
    padding: 0 30px 0 10px;
}

.contenido .tiempo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    gap: 10px;
    margin: 70px 0;
}

.contenido .tiempo .tiempo-titulo {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}

.contenido .tiempo .tiempo-titulo h2 {
    font-size: 1.5em;
    display: inline-block;
    position: relative;
    justify-self: center;
}


/* lineas a los costados */

.contenido .tiempo .tiempo-titulo h2::after,
.contenido .tiempo .tiempo-titulo h2::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 5px;
    background-color: #ed143d;
    top: .6em;
}

.contenido .tiempo h2::before {
    left: -140px;
}

.contenido .tiempo h2::after {
    right: -140px;
}


/* mi tiempo  */

.contenido .tiempo .tiempo-dividido {
    display: flex;
    justify-items: center;
    justify-content: center;
}

.contenido .tiempo .tiempo-dividido .actividades {
    width: 250px;
    height: 310px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr;
    text-align: center;
    justify-items: center;
    border: 1px solid gray;
    border-radius: 20px;
    background-color: #DEF3F3;
    box-shadow: 5px 5px 5px gray;
}

.contenido .tiempo .tiempo-dividido .actividades h4 {
    color: #ed143d;
    font-size: 1.2em;
    font-weight: bold;
}

.contenido .tiempo .tiempo-dividido .actividades p {
    color: #1B678C;
    font-size: .9em;
    font-weight: bolder;
    margin: 0;
    padding: 0 5px;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    position: relative;
    z-index: 5;
    background-color: #419CCA;
    border: 1px solid black;
    box-shadow: -100px -100px -100px #baba;
    text-align: center;
    margin-top: 100px;
    padding: 10px 15px;
    gap: 20px;
}

footer .info-desa {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    text-align: center;
    /* justify-self: start; */
}

footer .info-desa h3 {
    font-size: 1em;
    font-style: italic;
    color: white;
    margin-left: 80px;
    /* box-shadow: 2px 2px 2px gray; */
}

footer .info-desa h3 img {
    width: 40px;
}

footer .social-desa {
    grid-column-start: 2;
    grid-column-end: 3;
}

footer .social-desa h2 {
    color: #f3ff3b;
    font-size: 1.5em;
    font-style: italic;
    letter-spacing: 5px;
    font-weight: bolder;
}

footer .social-desa a img {
    width: 50px;
    margin: 0 20px;
}

footer .social-desa h3 {
    font-size: 1em;
    font-style: italic;
    color: white;
}

footer .social-desa h3 img {
    width: 30px;
    padding-right: 10px;
}

@media screen and (max-width: 425px) {
    .contenedor-header {
        height: 70px;
    }
    .contenedor-header .header1 a {
        font-size: .8em;
    }
    .contenido .presentacion {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .contenido .presentacion .descripcion {
        text-align: center;
        justify-content: center;
    }
    .contenido .tiempo .tiempo-dividido .actividades {
        width: 150px;
        margin: 0;
    }
    .contenido .tiempo .tiempo-titulo {
        justify-self: center;
    }
}

@media screen and (max-width: 768px) {
    .contenedor-header .header1 {
        font-size: 1.2em;
    }
    .contenido .presentacion .descripcion p {
        color: #fff;
        background-color: #84b4ca;
        font-weight: bolder;
        text-align: center;
        padding: 25px;
        border-radius: 50px;
    }
    .contenido .presentacion .descripcion h2,
    p {
        text-align: center;
    }
    .contenido .tiempo .tiempo-dividido {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-self: center;
        gap: 20px;
    }
    footer .social-desa h3 {
        font-size: .9em;
    }
}

@media screen and (max-width: 1024px) {
    .contenido .presentacion .img .img-photo {
        height: 300px;
    }
    .contenido .presentacion .descripcion p {
        font-size: 1em;
        line-height: 30px;
    }
    .contenido .tiempo .tiempo-titulo h2 {
        font-size: 16px;
    }
    .contenido .tiempo .tiempo-dividido .actividades {
        width: 200px;
        height: 250px;
        grid-template-rows: 40px 1fr;
    }
    .contenido .tiempo .tiempo-dividido .actividades h4 {
        font-size: 14px;
    }
    .contenido .tiempo .tiempo-dividido .actividades p {
        font-size: 12px;
        line-height: 40px;
    }
    footer .info-desa h3 {
        font-size: .8em;
    }
    footer .social-desa h2 {
        font-size: 1.2em;
    }
    footer .social-desa h3 {
        font-size: .8em;
    }
    footer .social-desa a img {
        width: 40px;
    }
}