@media screen and (max-width: 768px) {
    body {
        background-color: #EEF0F0;
    }
    .icon-menu {
        position: fixed;
    }
    .burger-button {
        display: block;
        z-index: 10000;
        cursor: pointer;
    }
    .header {
        /* width: 40vw; */
        background-color: rgba(0, 0, 0, .4);
        top: 0;
        right: 0;
        bottom: 0;
        width: vw;
        left: 770px;
        padding-top: 70px;
        /* padding-right: 20px; */
        position: fixed;
        display: block;
        z-index: 200;
        /* para que aparezca el menu con suavizado*/
        transition: .3s;
    }
    .header.is-active {
        left: 0;
    }
    .header #menu-h {
        width: 250px;
    }
    /* .header #menu-h:nth-child(2),
    #menu-h:nth-child(3),
    #menu-h:nth-child(4),
    #menu-h:nth-child(5) {
        display: none;
        grid-template-rows: repeat(4, 1fr);
        position: fixed;
        background-color: rgba(253, 171, 1, .7);
        right: 0;
        margin-top: 68px;
    } */
    .contenido {
        grid-template-columns: 1fr;
        margin: 5px;
    }
    .contenido .presentacion {
        padding: 0;
        width: 97vw;
    }
    .contenido .accesorios .celulares .accesorio-celular {
        width: 210px;
    }
    .contenido .accesorios .pc .accesorio-pc {
        width: 210px;
    }
    .contenido .accesorios .celulares .titulo {
        display: none;
    }
    footer {
        font-size: .8em;
    }
    footer .info-desa h3 {
        margin-left: 0;
        font-size: 1.2rem;
    }
    footer .info-desa h3 img {
        width: 40px;
    }
    footer .social-desa {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    footer .social-desa h2 {
        font-size: 1.4rem;
        grid-row: 1;
        grid-column: 2;
    }
    footer .social-desa h3 {
        font-size: 1.2rem;
        grid-row: 2;
        grid-column: 2;
    }
    footer .social-desa a img {
        width: 20%;
        margin: 0 10px;
    }
}