/* @media screen and (max-width: 1024px) {
    .home-main {
        grid-template-columns: .3fr 1fr .3fr;
        grid-template-rows: 200px .5fr .3;
    }
    .home-main .img {
        grid-column: 2;
    }
    .home-main .img img {
        width: 40%;
        height: 50px;
        margin: 0 auto;
        min-width: 45%;
        grid-row: 3;
        grid-column: 2;
    }
    .home-main .home-main-text {
        font-size: 1.5em;
        align-self: baseline;
        margin-top: 30px;
    }
    .home-main .home-main-text p {
        width: 70%;
        font-size: 2.2em;
        margin: 0 auto;
    }
    .home-main .enlaces .home-main-button {
        width: 260px;
        height: 50px;
    }
    .home-main .enlaces .home-main-button a {
        font-size: 1.8em;
    }
    .desarrollador a img {
        width: 60%;
    }
} */