@media screen and (min-width: 425px) {
    .pages {
        height: 100vh;
        background: url('../assets/img/street.jpg')no-repeat center center/cover;
    }
    .pages .home-main-text {
        margin-top: 100px;
    }
    .pages .enlaces {
        margin-top: 200px;
    }
    .pages .enlaces .home-main-button a {
        font-size: 1.5em;
    }
}