@media screen and (min-width: 425px) {
    body {
        margin: 0;
        /* height: 100%;
        width: 100%; */
        background: url('../assets/img/street.jpg')no-repeat center center/cover;
        position: fixed;
        background-attachment: fixed;
    }
    /* .pages {}
    .pages .home-main-text {
        margin-top: 100px;
    }
    .pages .enlaces {
        margin-top: 200px;
    }
    .pages .enlaces .home-main-button a {
        font-size: 1.5em;
    } */
}