@media screen and (min-width: 425px) {
    body {
        margin: 0;
        font-family: 'Roboto', sans-serif;
    }
    .pages {
        display: grid;
        grid-template-rows: 1fr 1fr;
        width: 100vw;
        height: 100vh;
        position: fixed;
        background: url('../assets/img/street.jpg')no-repeat center center/cover;
    }
    .pages .home-main-text {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-row: 1;
    }
    .pages .home-main-text p {
        align-items: center;
        font-family: 'Roboto mono', monospace;
        font-size: 4.5rem;
        font-weight: 700px;
        letter-spacing: 10px;
        color: #fff;
        background-color: rgba(187, 170, 187, .1);
        border-radius: 20px;
        text-shadow: 3px 3px 2px #baba;
        text-align: center;
        padding: 10px;
        margin: 30px 0;
        align-self: center;
        justify-self: center;
        text-align: center;
        transition: .5s;
        min-width: 400px;
        max-width: 500px;
    }
    .pages .home-main-text p span {
        color: #f9a801;
    }
    .pages .enlaces {
        display: grid;
        grid-template-rows: 1fr 1fr;
        align-self: center;
        align-items: center;
        /* justify-content: center; */
        justify-self: center;
    }
    .pages .enlaces .home-main-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
    }
    .pages .enlaces .home-main-button a {
        height: 60px;
        width: 150px;
        font-size: 2em;
        font-weight: bolder;
        padding: 10px;
        margin: 30px 0;
        border: 2px solid #fff;
        box-shadow: 5px -5px 10px #fff;
        border-radius: 10px;
        text-align: center;
        text-decoration: none;
        background-color: rgb(102, 95, 95);
        color: #fff;
        cursor: pointer;
        transition: .5s;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .pages .enlaces .home-main-button a:hover {
        color: #fff;
        background: #f9a801;
        /* background: linear-gradient(207, 8deg, #bababa 17%, #333fff 100%); */
    }
}