extend componentes/plantilla.pug
block contenidos
		section.intro
			.intro__imagen: img(src="images/imagen.png", alt="")
			.intro__contenido
				h2= titulo
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam nam sunt vel eligendi iure ut molestiae commodi fugit sequi. Tenetur minima laboriosam vero consequatur, cum laudantium. Exercitationem ipsa sed accusamus.
					span Tenetur minima laboriosam vero consequatur, cum laudantium. Exercitationem ipsa sed accusamus.
				a.boton Leer Mas
		main.contenido
			+caja("imagen.png", titulos[1], 'Lorem insup')
			+caja("imagen.png", titulos[2], 'Lorem insup')
			+caja("imagen.png", titulos[3], 'Lorem insup')